h1 {
  background-color: transparent;
  border-bottom: solid;
  border-width: 5px;
  font-family: "Benton Sans", Helvetica, sans-serif;
  text-align: center;
}
h3 {
  color: black;
  background-color: transparent;
  font-family: "Benton Sans", Helvetica, sans-serif;
  font-size: 24px;
}
h4 {
  color: black;
  background-color: transparent;
  font-family: "Benton Sans", Helvetica, sans-serif;
}

.bkg_im {
  background-color: white;
  color: white;
  padding: 5px;
}

.login_button {
  position: relative;
}

.content-container-full {
  height: 100vh;
}

.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

html {
  margin: 0px;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  height: 100vh;
}

.container_h {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  border: none;
}

nav {
  align-items: center;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
