html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 8px 0;
}

/* General styles (shared) */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  height: 100%;
  margin: 10px;
  background-color: white;
  font-family: "Work Sans", monospace;
}

.input-text-field {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  border: 1px solid #005c29;
  border-radius: 4px;
  color: #005c29;
  background-color: white;
  transition: all ease-in-out 250ms;
  font-family: "Work Sans", monospace;
}

.button:hover {
  color: white;
  background-color: #005c29;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.standard-button {
  padding: 12px 20px;
  margin: 8px 0;
}

.big-button {
  padding: 24px 40px;
  margin: 8px 0;
  font-size: 130%;
}

/* Header (shared) */
header {
  background-color: #55d6aa;
  font-family: "Work Sans", sans-serif;
}

.container-h {
  width: 90vw;
  height: 7vh;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: auto 0;
  float: left;
  color: black;
}

nav {
  margin: auto 0;
  float: right;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 50px;
  display: inline-block;
  position: relative;
  font-size: 110%;
}

nav a {
  display: block;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: orange;
}

nav a::before {
  width: 0%;
  display: block;
  content: "";
  height: 3px;
  background-color: #444;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.black-line {
  width: 100%;
  height: 8px;
  background-color: black;
}

/* Footer (shared) */
.footer {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Search Database (index.php and demo.php) */
.search-container {
  text-align: left;
}

.search-form-container {
  display: flex;
}

.search-input-text {
  margin-right: 10px;
}

/* Update Song by ID */

/* Delete Song by ID */

/* Insert a Song */

/* Spotify OAuth */
.spotify-login-container {
  text-align: center;
}

/* Admin Login */
.admin-login-container {
  height: 100%;
  margin: 0 100px;
  padding: 35px 50px;
  display: flex;
  border-radius: 10px;
  background-color: #ededed;
}

.al-col {
  width: 50%;
  flex: 0 0 auto;
}

.al-form-container {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}

.al-display-padding {
  padding: 70px 70px;
  flex: 1 1 auto;
}

.al-form-h {
  margin-bottom: 50px;
  text-align: center;
}

.al-form-body {
  margin-bottom: 6px;
}

.al-form-submit {
  text-align: center;
}

.al-message-container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, #6efac8, #5df4bb, #31e799, #05df85);
}

/* Song Display */
.song-container {
  height: 100%;
  margin: 0 100px;
}

.song-h {
  display: flex;
  justify-content: space-between;
}

.song-h > h1 {
  text-decoration: underline;
}

.song-body-container {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sb-box {
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
